<div class="image-field">
  <%= form.file_field :image%>
</div>

<div class="country-field">
  <%= form.label :country %>
  <%= form.text_field :country %>
</div>

<div class="state-field">
  <%= form.label :state %>
  <%= form.text_field :state %>
</div>

<div class="age-field">
  <%= form.label :age %>
  <%= form.text_field :age %>
</div>

<div class="gender-field">
  <%= form.label :gender %>
  <%= form.text_field :gender%>
</div>

<div class="description-field">
  <%= form.label :description %>
  <%= form.text_field :description%>
</div>

<div class="prefer-state-field">
  <%= form.label :prefer_state %>
  <%= form.text_field :prefer_state%>
</div>

<div class="prefer-age-field">
  <%= form.label :prefer_start_age %>
  <%= form.text_field :prefer_start_age %>
</div>

<div class="prefer-age-field">
  <%= form.label :prefer_end_age %>
  <%= form.text_field :prefer_end_age %>
</div>




