	<%=image_tag(current_user.image)%>

	<p> 
		<strong>Name: </strong> 
		<%=current_user.first_name%>
	</p>

	<p> 
		<strong>Age: </strong> 
		<%=current_user.age%>
	</p>

	<p> 
		<strong>Gender: </strong> 
		<%=current_user.gender%>
	</p>

	<p> 
		<strong>Nationality: </strong> 
		<%=current_user.country%>
	</p>

	<p> 
		<strong>Description: </strong> 
		<%=current_user.description%>
	</p>
