<div>

  	<h1><%=current_user.first_name%>&nbsp<%=current_user.last_name%></h1>

  	<p> 
		<strong>Email: </strong> 
		<%=@user.email%>
	</p>
	
	<p> 
		<strong>Nickname: </strong> 
		<%=@preference.nick_name%>
	</p>

	<p> 
		<strong>Gender: </strong> 
		<%=current_user.gender%>
	</p>

	<p> 
		<strong>Preference: </strong> 
		<%=current_user.preference%>
	</p>

	<p> 
		<strong>Country: </strong> 
		<%=current_user.country%>
	</p>

	<p> 
		<strong>State: </strong> 
		<%=current_user.state%>
	</p>

	<p> 
		<strong>Description: </strong> 
		<%=current_user.description%>
	</p>

	<p> 
		<strong>State: </strong> 
		<%=current_user.state%>
	</p>

	<p> 
		<strong>Description: </strong> 
		<%=current_user.description%>
	</p>

</div>

