	<p> 
		<strong>Name: </strong> 
		<%=current_user.first_name%>
	</p>

	<p> 
		<strong>Birthday: </strong> 
		<%=current_user.birthday%>
	</p>

	<p> 
		<strong>Gender: </strong> 
		<%=current_user.gender%>
	</p>

	<p> 
		<strong>Nationality: </strong> 
		<%=current_user.country%>
	</p>

	<p> 
		<strong>Description: </strong> 
		<%=current_user.description%>
	</p>

	<p> 
		<strong>Email: </strong> 
		<%=current_user.email%>
	</p>
<!--  -->