<div class='video_page_container'>
	<%= render partial: "video" %>
</div>
<%= render partial: "user_edit" %>
<%= render partial: "flashcards" %>
<%= render partial: "payment" %>
<%= render partial: "like" %>
<%= render partial: "payment_braintree"%>