<!DOCTYPE html>
<html>

    <head>
        <title>Swift</title>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
    <body>


<!-- Nav-Bar -->
<div class='main_nav_bar'>
<ul id ='navbar_id'>
  <div class= "nav_bar_container main_nav">

    <p id='token_left'>11</p>
    <li ><a id="match_btn" href="#"><%= image_tag "match.png" , :class => "match_icon"%></a></li>
    <li><a href="#" id="preference_btn"><%= image_tag "settings.png" , :class => "settings_icon"%></a></li>
    <li><a id="video_btn" href="#"><%= image_tag "video.png" , :class => "video_icon"%></a></li>
    <li id="log_out_div"><a id="logout_btn" href="#"><%= image_tag "log_out.png" , :class => "log_out_icon"%></li>
  </div>
</ul>
</div>

<!-- Premium Button -->
<button href="#" class="btn button button-4 button-4a icon-arrow-right" id="Go_Premium">GO PREMIUM</button>
<!-- Swift Logo -->
<a class='swift-pic big-swift '>Swift</a>

<!-- Toggle Button -->


      <div id="flash">
        <% flash.each do |key, value| %>
          <div id="flash_<%= key %>"><%=h value %></div>
        <% end %>
      </div>

      <%= yield %>
    </body>

</html>
